@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(250, 214, 244);
}

.container {
  max-width: 36rem;
  margin-right: auto;
  margin-left: auto;
  border: 20px solid black;
  border-radius: 5rem;
  background-color: white;
}
